<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('日志解析')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>车锁概况</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                    <tr>
                                        <th>属性</th>
                                        <th>值</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>设备imei数</td>
                                        <td th:text="${lp.deviceList.length}">0个</td>
                                    </tr>
                                    <tr>
                                        <td>总接收报文数</td>
                                        <td th:text="${lp.receiveMsgCount}">0</td>
                                    </tr>
                                    <tr>
                                        <td>日志跨度时间(秒)</td>
                                        <td th:text="${lp.logDuration}">0</td>
                                    </tr>
                                    <tr>
                                        <td>发生_IDLE事件总数</td>
                                        <td th:text="${lp.idleInstanceCount}">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>超时情况概要(统计心跳)</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="close-link"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-hover no-margins">
                                <thead>
                                    <tr>
                                        <th>属性</th>
                                        <th>-</th>
                                        <th>值</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>总超时设备个数</td>
                                        <td >-</td>
                                        <td th:text="${lp.overTimeDeviceNum}">0</td>
                                    </tr>
                                    <tr>
                                        <td>所有设备最长心跳间隔秒</td>
                                        <td >-</td>
                                        <td  th:text="${lp.maxOverTimeInAll}">0</td>
                                    </tr>
                                    <tr>
                                        <td>单设备超时次数最大值</td>
                                        <td >-</td>
                                        <td th:text="${lp.maxOverTimeNumOfDevice}">0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>异常超时设备top10（按超时次数降序排序）</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="bootstrap-table1"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <!--点击图表3后每行的 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">单设备超时图表</h4>
                        </div>
                        <div id="main" style="width: 600px;height:400px;"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>

            
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>总体心跳次数图表</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div id="main1" style="width: 600px;height:400px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>磁盘状态</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-hover margin bottom">

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<th:block th:include="include :: footer" />
<script th:src="@{/ajax/libs/echarts/echarts.min.js}"></script>
<script th:inline="javascript">

    var t1,t2,t3;
	var myChart = echarts.init(document.getElementById('main'));
    var myChart1 = echarts.init(document.getElementById('main1'));
        var totalData = [[ ${lp.deviceDetail} ]];
        //console.log(totalData); // 打印全部对象，已完成。
        // 功能表1 车锁概况 完成
        // 功能表2 超时情况概要 完成
        // 功能表3 超时设备概要，先从高往低排序，使用sort函数进行倒序处理
        totalData.sort((a,b)=> {return  (b.overTimeCount - a.overTimeCount) });
       // console.log(totalData); // ok 按超时进行了逆序
       var top10data = totalData;//totalData.slice(0,10); // 前10个劣化设备的完整对象
       var tempDeviceObj = null;
       //console.log(top10data); 

    // main1 用，横轴是设备id数组，纵轴是心跳数，不排序了
        // 指定图表的配置项和数据
        var option1 = {
            title: {
                text: '设备集合心跳数表，横轴为设备id，纵轴为心跳值(次)'
            },
            tooltip: {trigger: 'axis'},
            legend: {
                // data:['时间']
            },
            xAxis: { // x是心跳时间点
                data: totalData.map(x => {return x.deviceId}) // 通过lambda从全对象数组解析出id数组作为x轴
            },
            yAxis: {},
            series: [{
                name: '次数',
                type: 'line',
                itemStyle: {normal: {label: {show: true}}},
                data: totalData.map(x => {return x.totalHBCount})
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart1.setOption(option1);
        

    $(".modal").appendTo("body"), $("[data-toggle=popover]").popover(), $(".collapse-link").click(function() {
        var div_ibox = $(this).closest("div.ibox"),
        e = $(this).find("i"),
        i = div_ibox.find("div.ibox-content");
        i.slideToggle(200),
        e.toggleClass("fa-chevron-up").toggleClass("fa-chevron-down"),
        div_ibox.toggleClass("").toggleClass("border-bottom"),
        setTimeout(function() {
        	div_ibox.resize();
        }, 50);
    }), $(".close-link").click(function () {
		var div_ibox = $(this).closest("div.ibox");
		div_ibox.remove()
	});
    
       $(function() {
            var options = {
                id: "bootstrap-table1",
                data: top10data,
                sidePagination: "client",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'deviceId', 
					title : '设备id'
				},
				{
					field : 'overTimeCount', 
					title : '超时心跳次数'
				},
				{
					field : 'overTimeCountPercent', 
					title : '超时心跳百分比/总心跳数'
				},
				{
					field : 'maxOverTimeHeartBeatGap', 
					title : '超时最大值(秒)'
				},
				
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" data-orderId='+ row.deviceId +'><i class="fa fa-edit"></i>图表</a> ');
                        // actions.push('<a class="btn btn-danger btn-xs" href="#"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

        function showdata(row,index) {
            console.log(row, index);
        }

        $('#myModal').on('show.bs.modal',function(e){
            var orderid = $(e.relatedTarget).data('orderid');
            // orderid 是当前行的imeiid
            console.log(orderid);
            
            for(var i of top10data) {
                if(i.deviceId == orderid){
                    tempDeviceObj = i;
                    break;
                }
            }
        // tempDeviceObj 就是单设备图表的数据源
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '单设备超时详情表，横轴为时间点，纵轴为超时值(秒)'
            },
            tooltip: {trigger: 'axis'},
            legend: {
                // data:['时间']
            },
            xAxis: { // x是心跳时间点
                data: tempDeviceObj.heartBeatReceiveTime
            },
            yAxis: {},
            series: [{
                name: '时间',
                type: 'line',
                itemStyle: {normal: {label: {show: true}}},
                data: tempDeviceObj.overTimePoint
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
            //console.log("result", t1,t2,t3);
        });

        


</script>
</html>
